*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Contenedor principal */
.box {
    display: grid;
    margin: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
	align-content: center;
	justify-content: center;
}

/* Contenedor de fila (horizontal) */
.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

/* Botones */
button {
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-background);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: var(--button-hover-background-dark);
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
    opacity: var(--disabled-opacity);
}

/* Inputs */
input, textarea {
	background-color: var(--input-background);
	border: 1px solid var(--input-border);
	color: var(--text-color);
	padding: 10px;
	border-radius: var(--border-radius);
	font-size: 16px;
	box-sizing: border-box;
	transition: border-color 0.3s ease;
}


.input-container {
	position: relative;
	width: 200px;
}

label {
	position: absolute;
	top: 12px;
	left: 10px;
	color: #666;
	transition: 0.3s ease;
	pointer-events: none;
}

input:not(:placeholder-shown) + label {
  transform: translateY(-24px);
  font-size: 12px;
  padding: 1px 4px 1px 6px ;
  color: var(--input-focus-border);
  background-color: var(--input-background);
  border-radius: 5px;
}

input:focus, textarea:focus {
	border-color: var(--input-focus-border);
	outline: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	overflow: hidden;
	background-color: var(--input-background);
	/*border: 1px solid var(--input-border);*/
	margin: 20px;
}

th, td {
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid var(--input-border);
}
table tr:first-child,
th {
	background-color: var(--secondary-color);
	color: var(--link-hover-color);
	font-weight: 800;
}

td {
	border-bottom: 1px solid var(--input-border);
}

tr:last-child td {
	border-bottom: none;
}

tr:hover {
	background-color: var(--secondary-color);
}

table tr:first-child th:first-child {
	border-top-left-radius: var(--border-radius);
}

table tr:first-child th:last-child {
	border-top-right-radius: var(--border-radius);
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .box {
        margin: 10px;
        padding: 10px;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }
}

/* Para pantallas medianas (tabletas) */
@media (max-width: 900px) {
    .row {
        /*justify-content: space-around;*/
    }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1200px) {
    .box {
        margin: 40px;
        padding: 40px;
    }
}
